@import "theme.css";

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
    border: none;
    border-radius: 0;
    transition: none;
}

window#waybar {
    background-color: @base;
    color: @text;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: @text;
}

#workspaces button.focused {
    background-color: @mantle;
    color: @accent;
    border-bottom: 2px solid @accent;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#clock,
#tray,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#custom-notification,
#mode {
    padding: 0 10px;
    margin: 0 2px;
    color: @text;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#network.disconnected {
    color: @red;
}
